.aboutContainer{
    height: 374px;
    margin: 59px auto;
    font-family: 'Poppins', sans-serif;
}

.tabs{
    background-color:rgba(0, 100, 210,0.05);
    height: 72px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 44px;
    padding-left: 387px;
}

.tabs button{
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    cursor: pointer;
}

.productImg{
    width: 246px;
    height: 258px;
    border-radius: 24px;
}

.active{
    font-weight: 500;
}

.active::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 10%;
    width: 70%;
    height: 2px;
    background: #3972FE;
    border-radius: 500px;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 90%;
    width: 10%;
    height: 2px;
    background: #3972FE;
    border-radius: 50%;
}

.about{
    width: 1227px;
    height: 258px;
    margin: 44px auto;
    display: flex;
    gap: 36px;
}

.about p{
    color:#2F294D;
    font-size: 14px;
}